@import url("/style/cabecalho.css");
@import url("/style/lista-consulta.css");


:root {
    --background: ghostwhite;
    --preto: #464646;
    --cinza: #A3A3A3;
    --branco: #FFFFFF;
    --azul: #4894FF;
    --laranja: #FFB050;
    --fonte-principal: "Montserrat";
}

body {
    background-color: var(--background);
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 14px;
}