.menu-celular {
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: var(--branco);
}

.cabecalho {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
}

.cabecalho__perfil {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("/img/perfil-1.jpg");
  margin-right: 15px;
}
.cabecalho__titulo {
  font-size: 22px;
  font-weight: 700;
  color: var(--preto);
  height: 30px;
}
.cabecalho__desc {
  color: var(--cinza);
}
.menu-celular {
  display: flex;
  justify-content: space-between;
}
.menu-celular__widget img {
  padding: 0 0 0 0.5rem;
}
@media (min-width: 768px) {
  .cabecalho__perfil {
    width: 120px;
    height: 120px;
  }
  .cabecalho__titulo {
    font-size: 24px;
  }
  .cabecalho__desc {
    font-size: 18px;
    padding-top: 10px;
  }

}

@media (min-width: 1280px) {
  .menu-celular {
    display: none;
  }
  .cabecalho {
    padding: 2rem 2rem;
  }
  .cabecalho__perfil {
    width: 180px;
    height: 180px;
  }
  .cabecalho__titulo {
    font-size: 28px;
  }
  .cabecalho__desc {
    font-size: 18px;
    padding-top: 10px;
  }

}