.cabecalho {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
}

.cabecalho__perfil {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("/img/perfil-1.jpg");
  margin-right: 15px;
}
.cabecalho__titulo {
  font-size: 22px;
  font-weight: 700;
  color: var(--preto);
  height: 30px;
}
.cabecalho__desc {
  color: var(--cinza);
}
.barra-menu {
  display: none;
}

@media (min-width: 768px) {
  .cabecalho__perfil {
    width: 120px;
    height: 120px;
  }
  .cabecalho__titulo {
    font-size: 24px;
  }
  .cabecalho__desc {
    font-size: 18px;
    padding-top: 10px;
  }
}

@media (min-width: 1280px) {
  .cabecalho {
    padding: 2rem 2rem;
    width: 75%;
    margin: auto;
  }
  .cabecalho__perfil {
    width: 180px;
    height: 180px;
  }
  .cabecalho__titulo {
    font-size: 28px;
  }
  .cabecalho__desc {
    font-size: 18px;
    padding-top: 10px;
  }
  .barra-menu {
    display: flex;
    margin: 0;
    padding: 0;
    width: 11vw;
    background-color: var(--branco);
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 2px solid #ececec;
  }
  .barra-menu__opcoes {
    width: 10vw;
    display: flex;
    padding: 3.5vw 1.5vw;
    gap: 2rem;
    flex-direction: column;
  }
  .barra-menu__cliente-link,
  .barra-menu__relatorio-link,
  .barra-menu__menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cinza);
  }
  .barra-menu__consulta-link {
    color: var(--azul);
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}
.barra-menu__texto {
  align-self: center;
  margin-left: 10px;
}
.icone-menu__consulta,
.icone-menu__relatorio {
  height: 2vw;
}
.icone-menu__cliente {
  height: 1.5vw;
}
.icone-menu__barra {
  height: 1.2vw;
}
