.formulario-consulta {
  display: none;
}

@media (min-width: 1280px) {
  .formulario-consulta {
    display: block;
    width: 80%;
    margin: 0 12vw;
  }

  .formulario-consulta__titulo {
    padding: 1rem 2rem;
  }
  .formulario-titulo {
    font-size: 22px;
    font-weight: 700;
  }
  .formulario-cadastro {
    width: 80%;
    margin: 0 2rem 1rem 2rem;
    background-color: var(--branco);
    padding: 1rem;
    border-radius: 8px;
  }
  .formulario-cadastro__nome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .formulario-cadastro__nome label {
    padding-bottom: 8px;
  }
  #nome {
    border-radius: 8px;
    border: 1px solid #ececec;
    width: 265px;
    height: 34px;
    padding-left: 5px;
  }
  .formulario-cadastro__radio {
    display: flex;
  }

  .input-radio {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  .radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .radio-btn {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    border: 1px solid #909090;
    display: block;
    margin-right: 5px;
  }
  .nome-radio1,
  .nome-radio2 {
    font-size: 12px;
  }
  .nome-radio1 {
    margin-right: 2rem;
  }
}
input[type="radio"]:checked + label .radio-btn {
  background: radial-gradient(circle, var(--azul) 45%, transparent 50%);
  border: 1px solid var(--azul);
}
.formulario-cadastro__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.formulario-cadastro__data label {
  padding-bottom: 8px;
  padding-top: 8px;
}
#data {
  border-radius: 8px;
  border: 1px solid #ececec;
  width: 265px;
  height: 34px;
  padding-left: 5px;
}
input[type="date"]:invalid::-webkit-datetime-edit {
  color: #999;
}
.formulario-cadastro__hora {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.formulario-cadastro__hora label {
  padding-bottom: 8px;
  padding-top: 8px;
}
#hora {
  border-radius: 8px;
  border: 1px solid #ececec;
  width: 265px;
  height: 34px;
  padding-left: 5px;
  color: #999;
}
.formulario-cadastro__obs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.formulario-cadastro__obs label {
  padding-bottom: 8px;
  padding-top: 8px;
}
.formulario-obs {
  border-radius: 8px;
  width: 380px;
  height: 100px;
  resize: none;
  padding: 0.5rem;
  border: 1px solid #ececec;
  }
  .formulario-agendamento {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
  }
  .agenda-btn {
    color: var(--branco);
    background: var(--azul);
    border: none;
    cursor: pointer;
    width: 325px;
    height: 50px;
    border-radius: 8px;
  }


