.lista-consulta {
  padding: 0 1rem;
  margin: 0 2rem;
}
.lista-consulta__data {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 1rem;
}
.lista-consulta__card {
  background-color: var(--branco);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.lista-consulta__perfil {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.lista-consulta__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.lista-consulta__pessoa {
  display: flex;
}
.lista-consulta__topo {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;
}
.lista-consulta__hora {
  font-size: 12px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.lista-consulta__btn {
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
}
.lista-consulta__img {
  width: 35px;
  cursor: pointer;
}
.btn-chat {
  padding: 0;
  border-radius: 30px;
  height: 35px;
  border: none;
}
.lista-consulta__nome {
  font-weight: 700;
}
.lista-consulta__desc {
  font-size: 12px;
  font-weight: 400;
  color: var(--cinza);
  padding-left: 5px;
}
.img-pos {
  padding-top: 0.5rem;
  padding-right: 5px;
  display: flex;
  align-items: center;
}
.barra-cinza {
  height: 1px;
  background-color: #ececec;
  border: none;
}
.btn-video,
.btn-audio {
  width: 155px;
  height: 54px;
  border-radius: 8px;
}
.btn-video {
  color: var(--branco);
  background: var(--laranja);
  border: none;
  cursor: pointer;
}
.btn-audio {
  color: var(--preto);
  background: var(--branco);
  border: 1px solid #ececec;
  cursor: pointer;
}
.btn-endereco {
  color: var(--branco);
  background: var(--azul);
  border: none;
  cursor: pointer;
  width: 325px;
  height: 50px;
  border-radius: 8px;
}
button {
  font-family: var(--fonte-principal);
}

@media (min-width:768px) {
  .lista-consulta__dia {
    display: flex;
    flex-wrap: wrap;
    margin: auto;


  }
  .lista-consulta__card {
    margin: 1vw 1vw 2vw 2vw;
    width: 40vw;
  }
  .lista-consulta__data {
    padding-left: 2vw;
  }
  
}
@media (min-width:1280px) {
  .lista-consulta {
    width: 80%;
    margin: 0 12vw;
  }
  .lista-consulta__dia {
    display: flex;
    flex-wrap: wrap;
    margin: auto;


  }
  .lista-consulta__card {
    margin: 1vw 1vw 2vw 1vw;
    width: 23vw;  
  }
  .lista-consulta__data {
    padding-left: 2vw;
  }
}
